<!DOCTYPE html>
<html lang="es"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/master}">
<head>
  <title th:text="${mesa.id == null ? 'Nueva mesa - Sabor Gourmet' : 'Editar mesa - Sabor Gourmet'}">Formulario mesa</title>
</head>
<body>
  <div layout:fragment="page-content">
    <div class="page-header text-center">
      <h2 th:text="${mesa.id == null ? 'Nueva Mesa' : 'Editar Mesa'}">Formulario</h2>
    </div>

    <div class="form-wrapper">
      <form th:action="@{/mesas/guardar}" method="post" th:object="${mesa}">
    <input type="hidden" th:field="*{id}" />

    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input id="nombre" type="text" th:field="*{nombre}" class="form-control" required/>
    </div>

    <div class="mb-3">
      <label for="capacidad" class="form-label">Capacidad</label>
      <input id="capacidad" type="number" th:field="*{capacidad}" class="form-control" min="1" required/>
    </div>

        <div class="mt-4">
          <button class="btn btn-primary" type="submit"> Guardar</button>
          <a th:href="@{/mesas}" class="btn btn-secondary"> Cancelar</a>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
