<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:fragment="layout">
<head>
  <title>Reservas</title>
</head>
<body>
<section>
  <h2>Reservas</h2>
  <a class="btn btn-success mb-3" th:href="@{/reservas/nuevo}">Nueva reserva</a>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th><th>Cliente</th><th>Mesa</th><th>Fecha y hora</th><th>Personas</th><th>Estado</th><th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="r : ${reservas}">
        <td th:text="${r.id}">1</td>
        <td th:text="${r.cliente.nombre}">Cliente</td>
        <td th:text="${r.mesa.nombre}">Mesa</td>
        <td th:text="${#temporals.format(r.fechaHora, 'dd/MM/yyyy HH:mm')}">fecha</td>
        <td th:text="${r.cantidadPersonas}">2</td>
        <td th:text="${r.estado}">ACTIVA</td>
        <td>
            <a th:href="@{|/reservas/editar/${r.id}|}"
                class="btn btn-sm btn-primary">
                Editar
            </a>
            <form th:action="@{|/reservas/eliminar/${r.id}|}"
                method="post"
                style="display:inline;">
        
                <button type="submit"
                    class="btn btn-sm btn-danger"
                    onclick="return confirm('¿Eliminar esta reserva?');">
                    Eliminar
                </button>
            </form>
        </td>
      </tr>
    </tbody>
  </table>
</section>
</body>
</html>
